In [ ]:
#

In [24]:
import json
import pandas as pd
from tqdm import tqdm
from collections import Counter

In [33]:
json_file = open("/home/ccmb/Desktop/KIRAN_GUEST WORKER/Bacteria_classes_evolutionary_analysis/archaea_analysis/Orgnanism_Motif_info.json") 

data1 = json.load(json_file)

In [130]:
archaea_perf_df = pd.read_csv("/home/ccmb/Desktop/KIRAN_GUEST WORKER/Bacteria_classes_evolutionary_analysis/archaea_analysis/genomes/GCF_021249345.1_ASM2124934v1_New_Archaea.json", sep = "\t")

nan

In [ ]:
###---

# Creating the json files for the species which are not part of MSDB_info.

In [44]:
# adding the new species info in MSDB_INFO, after that which contains complete ( Bacteria, Archaea, Eukaryotes) PERF info.

# data frame =  reference to the file name

# file structure refn = msdb info file

# then merger the perf Archaea dataframe and msdb dataframe file


archaea_perf_df = pd.read_csv("./archaea_Perf_MainTableInfo.tsv", sep = "\t")

directory = "/home/ccmb/Desktop/KIRAN_GUEST WORKER/msdb_info/" 

archaea_perf_files = "/home/ccmb/Desktop/KIRAN_GUEST WORKER/Bacteria_classes_evolutionary_analysis/archaea_analysis/genomes/" 

for ind in tqdm(archaea_perf_df.index):
    present = 0
    identifier_A  = str(archaea_perf_df['asm_name'][ind])
#     dctnry = {'info':{'OrgInfo':{'OrganismName':'','Kingdom':'','Group':'','SubGroup':'','Build':'', 'species_taxid':''},'GenomeInfo':{'GenomeSize':'','GC':''}, 'RepInfo':{'PlotData':{}}}}
    
    def all_files(infile):
        json_file = open(f'{directory}{infile}') 
        Archaea_perf = json.load(json_file)
        identifier_msdb = str(Archaea_perf['info']['OrgInfo']['Build'])
        if identifier_A == identifier_msdb:
            present =+ 1
    if present >= 1:
        break

     
    filename = archaea_perf_df['file_name'][ind]
    df_divisir = pd.read_csv(f'{archaea_perf_files}{filename}_genomic_divissr.tsv', sep = "\t", header = None)
    unique_motifs = df_divisir[3].unique()
    df_2 = df_divisir[[3,4]]
    dctnry = {'info':{'OrgInfo':{'OrganismName':'','Kingdom':'','Group':'','SubGroup':'','Build':''},
                  'GenomeInfo':{'GenomeSize':'','GC':''}, 'RepInfo':{'PlotData':{}}}}
    for motif in unique_motifs:
        dctnry['info']['OrgInfo']['OrganismName'] = archaea_perf_df['organism_name'][ind]
        dctnry['info']['OrgInfo']['Kingdom'] = archaea_perf_df['Kingdom'][ind]
        dctnry['info']['OrgInfo']['SubGroup'] = archaea_perf_df['Subgroup'][ind]
        dctnry['info']['OrgInfo']['Build'] = archaea_perf_df['asm_name'][ind]
        dctnry['info']['OrgInfo']['Group'] = archaea_perf_df['Group'][ind]
        dctnry['info']['OrgInfo']['TaxID'] = archaea_perf_df['species_taxid'][ind]
        dctnry['info']['GenomeInfo']['GenomeSize'] = archaea_perf_df['genome_size'][ind]
        dctnry['info']['GenomeInfo']['GC'] = archaea_perf_df['gc_percent'][ind]

        similar = df_2[df_2[3] == motif]
        len_distribution = Counter(similar[4])
        dctnry['info']['RepInfo']['PlotData'][motif] = len_distribution
#     print(dctnry)
                  

            

        
        # saving all new files in msdb info.
        
    with open(f'{directory}{identifier_A}_New_Archaea.json', "w") as outfile:
        json.dump(dctnry, outfile)

        
    
files_dicrtry = "/home/ccmb/Desktop/KIRAN_GUEST WORKER/msdb_info/"
extension = ('.json')

for file in os.listdir(files_dicrtry): # iterating the all files.
    if file.endswith(extension): # if files ends with .tsv extension.
          all_files(file)

In [42]:
archaea_perf_df = pd.read_csv("./archaea_Perf_MainTableInfo.tsv", sep = "\t")
archaea_perf_df.loc[len(archaea_perf_df.index)] = ['Halobacterium sp. Gai3-17', 'Archaea','Euryarchaeota','Stenosarchaea group	','strain=Gai3-17	', '-','GCF_021249345.1','4', 'ASM2124934v1','-','-','GCF_021249345.1_ASM2124934v1',3112195.0,67.28,60497.0,776875.0,0,0] 
archaea_perf_df.drop(1204, axis =0, inplace =True)
archaea_perf_df.tail()

,organism_name,Kingdom,Group,Subgroup,infraspecific_name,isolate,assembly_accession,assembly_level,asm_name,refseq_category,species_taxid,file_name,genome_size,gc_percent,total_repeats,total_repeat_bases,total_repeats_norm,total_repeat_bases_norm
1200,Halobacterium sp. NRC-34001,Archaea,Euryarchaeota,Stenosarchaea group,strain=NRC-34001,NaN,GCF_020736485.1,Complete Genome,ASM2073648v1,na,2886895.0,GCF_020736485.1_ASM2073648v1,2291038.0,66.93,2517.0,31974.0,1.09863,13.95612
1201,Halobacterium sp. KA-4,Archaea,Euryarchaeota,Stenosarchaea group,strain=KA-4,NaN,GCF_021028995.1,Contig,ASM2102899v1,na,2896367.0,GCF_021028995.1_ASM2102899v1,3336915.0,63.80,3260.0,41324.0,0.97695,12.38389
1202,Halobacterium sp. KA-6,Archaea,Euryarchaeota,Stenosarchaea group,strain=KA-6,NaN,GCF_021029015.1,Contig,ASM2102901v1,na,2896368.0,GCF_021029015.1_ASM2102901v1,3492034.0,63.95,3408.0,43113.0,0.97594,12.34610
1203,Candidatus nanopusillus sp. Marseille-Q6268,Archaea,Asgard group,Candidatus Wukongarchaeota,strain=Marseille-Q6268,NaN,GCF_920984865.1,Scaffold,Q6268,na,2897163.0,GCF_920984865.1_Q6268,607503.0,23.10,903.0,11521.0,1.48641,18.96452
1205,Halobacterium sp. Gai3-17,Archaea,Euryarchaeota,Stenosarchaea group\t,strain=Gai3-17\t,-,GCF_021249345.1,4,ASM2124934v1,-,-,GCF_021249345.1_ASM2124934v1,3112195.0,67.28,60497.0,776875.0,0.00000,0.00000

In [41]:
archaea_perf_df.tail()

,organism_name,Kingdom,Group,Subgroup,infraspecific_name,isolate,assembly_accession,assembly_level,asm_name,refseq_category,species_taxid,file_name,genome_size,gc_percent,total_repeats,total_repeat_bases,total_repeats_norm,total_repeat_bases_norm
1200,Halobacterium sp. NRC-34001,Archaea,Euryarchaeota,Stenosarchaea group,strain=NRC-34001,NaN,GCF_020736485.1,Complete Genome,ASM2073648v1,na,2886895.0,GCF_020736485.1_ASM2073648v1,2291038.0,66.93,2517.0,31974.0,1.09863,13.95612
1201,Halobacterium sp. KA-4,Archaea,Euryarchaeota,Stenosarchaea group,strain=KA-4,NaN,GCF_021028995.1,Contig,ASM2102899v1,na,2896367.0,GCF_021028995.1_ASM2102899v1,3336915.0,63.80,3260.0,41324.0,0.97695,12.38389
1202,Halobacterium sp. KA-6,Archaea,Euryarchaeota,Stenosarchaea group,strain=KA-6,NaN,GCF_021029015.1,Contig,ASM2102901v1,na,2896368.0,GCF_021029015.1_ASM2102901v1,3492034.0,63.95,3408.0,43113.0,0.97594,12.34610
1203,Candidatus nanopusillus sp. Marseille-Q6268,Archaea,Asgard group,Candidatus Wukongarchaeota,strain=Marseille-Q6268,NaN,GCF_920984865.1,Scaffold,Q6268,na,2897163.0,GCF_920984865.1_Q6268,607503.0,23.10,903.0,11521.0,1.48641,18.96452
1204,Halobacterium sp. Gai3-17,Archaea,Euryarchaeota,Stenosarchaea group,strain=Gai3-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# cross check the all counts and then finilize it. 

# 1. Merge the dataframe rows and get the demographics counts.


# 2. Check the Bacteria newly present species in the ncbi, and add them in msdb, 
     # also look into their classifications.

In [231]:
# 

archaea_perf_df = pd.read_csv("./archaea_Perf_MainTableInfo.tsv", sep = "\t")
msdb = pd.read_csv("/home/ccmb/Desktop/KIRAN_GUEST WORKER/msdb_info/501_Rc_abundance_all_Domains.csv", sep = "\t")

z1 = archaea_perf_df['asm_name'].unique()
msdb.shape

(37170, 513)

In [209]:
# get the asm_name from the all the msbd_info

import os

tax_id = []
asm_name = []
sub_group = []
group = []
kingdom = []
org_name = []


directory = "/home/ccmb/Desktop/KIRAN_GUEST WORKER/msdb_info/"

def all_files(infile):
    json_file = open(f'{directory}{infile}')
    data = json.load(json_file) 
    
    if data['info']['OrgInfo']['Kingdom'] == 'Archaea':

        taxid = data['info']['OrgInfo']['TaxID']
        tax_id.append(taxid)
        
        orgNm = data['info']['OrgInfo']['OrganismName']
        org_name.append(orgNm)
        
        
        kingdm = data['info']['OrgInfo']['Kingdom']
        kingdom.append(kingdm)
        
        grp = data['info']['OrgInfo']['Group']
        group.append(grp)
        
        sub_group_ = data['info']['OrgInfo']['SubGroup']
        sub_group.append(sub_group_)

        assembly = data['info']['OrgInfo']['Build']
        asm_name.append(assembly)
    
    

                
files_dicrtry = "/home/ccmb/Desktop/KIRAN_GUEST WORKER/msdb_info"
extension = ('.json')

for file in tqdm(os.listdir(files_dicrtry)): # iterating the all files.
    if file.endswith(extension): # if files ends with .tsv extension.
        all_files(file)

100%|██████████| 38319/38319 [12:17<00:00, 51.93it/s]

In [210]:
# 

import pandas as pd

df0 = pd.DataFrame(tax_id)
df1 = pd.DataFrame(asm_name)
df2 = pd.DataFrame(sub_group)
df3 = pd.DataFrame(group)
df4 = pd.DataFrame(kingdom)
df5 = pd.DataFrame(org_name)


All_species = pd.concat([df0,df1, df4,df3,df2,df5], axis=1)
All_species.columns = ['Taxa_Id','Assembly_name','Kingdom','Group','SubGroup', 'Organism_name']
All_species.to_csv("/home/ccmb/Desktop/KIRAN_GUEST WORKER/msdb_info/Overall_count_Archaea.csv", sep='\t')

In [247]:
overall_archaea = pd.read_csv("/home/ccmb/Desktop/KIRAN_GUEST WORKER/msdb_info/Overall_count_Archaea.csv", sep = "\t")

In [284]:
# Subgroups which can be removed from the analysis.

small_sample = overall_archaea.groupby(['Group','SubGroup']).count()
small_sample

                                                                  Unnamed: 0  \
Group                       SubGroup
Asgard group                Candidatus Heimdallarchaeota                   5
                            Candidatus Helarchaeota                        3
                            Candidatus Lokiarchaeota                       6
                            Candidatus Odinarchaeota                       1
                            Candidatus Thorarchaeota                       8
                            Candidatus Wukongarchaeota                    51
                            unclassified Asgard group                      1
Candidatus Thermoplasmatota DHVE2 group                                    1
                            Thermoplasmata                                19
DPANN group                 Candidatus Aenigmarchaeota                    15
                            Candidatus Altiarchaeota                       1
                            Candidatus Diapherotrites                     12
                            Candidatus Micrarchaeota                      36
                            Candidatus Pacearchaeota                      41
                            Candidatus Parvarchaeota                      12
                            Candidatus Woesearchaeota                     38
                            Nanoarchaeota                                 16
                            unclassified DPANN group                       2
Euryarchaeota               Archaeoglobi                                  19
                            Candidatus Methanoliparia                      2
                            Diaforarchaea group                          405
                            Euryarchaeota incertae sedis                   5
                            Hadesarchaea                                   7
                            Methanomada group                            186
                            Methanonatronarchaeia                          4
                            Methanopyri                                    6
                            Stenosarchaea group                         1030
                            Theionarchaea                                  2
                            Thermococci                                   97
                            environmental samples                          1
                            unclassified Euryarchaeota                   113
TACK group                  Candidatus Bathyarchaeota                     43
                            Candidatus Geothermarchaeota                   5
                            Candidatus Korarchaeota                        5
                            Candidatus Marsarchaeota                      15
                            Candidatus Nezhaarchaeota                      2
                            Candidatus Verstraetearchaeota                 9
                            Crenarchaeota                                267
                            Thaumarchaeota                               134
environmental samples       uncultured archaeon                            1
                            uncultured archaeon A07HB70                    1
                            uncultured archaeon A07HN63                    1
                            uncultured archaeon A07HR60                    1
                            uncultured archaeon A07HR67                    1
unclassified Archaea        archaeon ADurb.Bin336                          1
                            archaeon MnTg01                                1
                            unclassified Archaea (miscellaneous)          64

                                                                  Taxa_Id  \
Group                       SubGroup
Asgard group                Candidatus Heimdallarchaeota                5
                            Candidatus Helarchaeota                     3
                            Candidatus Lokiarchaeota                    6
                            Candidatus Odinarchaeota                    1
                            Candidatus Thorarchaeota                    8
                            Candidatus Wukongarchaeota                 51
                            unclassified Asgard group                   1
Candidatus Thermoplasmatota DHVE2 group                                 1
                            Thermoplasmata                             19
DPANN group                 Candidatus Aenigmarchaeota                 15
                            Candidatus Altiarchaeota                    1
                            Candidatus Diapherotrites                  12
                            Candidatus Micrarchaeota                   36
                            Candidatus Pacearchaeota                   41
                            Candidatus Parvarchaeota                   12
                            Candidatus Woesearchaeota                  38
                            Nanoarchaeota                              16
                            unclassified DPANN group                    2
Euryarchaeota               Archaeoglobi                               19
                            Candidatus Methanoliparia                   2
                            Diaforarchaea group                       405
                            Euryarchaeota incertae sedis                5
                            Hadesarchaea                                7
                            Methanomada group                         186
                            Methanonatronarchaeia                       4
                            Methanopyri                                 6
                            Stenosarchaea group                      1030
                            Theionarchaea                               2
                            Thermococci                                97
                            environmental samples                       1
                            unclassified Euryarchaeota                113
TACK group                  Candidatus Bathyarchaeota                  43
                            Candidatus Geothermarchaeota                5
                            Candidatus Korarchaeota                     5
                            Candidatus Marsarchaeota                   15
                            Candidatus Nezhaarchaeota                   2
                            Candidatus Verstraetearchaeota              9
                            Crenarchaeota                             267
                            Thaumarchaeota                            134
environmental samples       uncultured archaeon                         1
                            uncultured archaeon A07HB70                 1
                            uncultured archaeon A07HN63                 1
                            uncultured archaeon A07HR60                 1
                            uncultured archaeon A07HR67                 1
unclassified Archaea        archaeon ADurb.Bin336                       1
                            archaeon MnTg01                             1
                            unclassified Archaea (miscellaneous)       64

                                                                  Assembly_name  \
Group                       SubGroup
Asgard group                Candidatus Heimdallarchaeota                      5
                            Candidatus Helarchaeota                           3
                            Candidatus Lokiarchaeota                          6
                            Candidatus Odinarchaeota                          1
                            Candidatus Thorarchaeota                          8
                            Candidatus Wukongarchaeota                       51
                            unclassified Asgard group                         1
Candidatus Thermoplasmatota DHVE2 group                                       1
                            Thermoplasmata                                   19
DPANN group                 Candidatus Aenigmarchaeota                       15
                            Candidatus Altiarchaeota                          1
                            Candidatus Diapherotrites                        12
                            Candidatus Micrarchaeota                         36
                            Candidatus Pacearchaeota                         41
                            Candidatus Parvarchaeota                         12
                            Candidatus Woesearchaeota                        38
                            Nanoarchaeota                                    16
                            unclassified DPANN group                          2
Euryarchaeota               Archaeoglobi                                     19
                            Candidatus Methanoliparia                         2
                            Diaforarchaea group                             405
                            Euryarchaeota incertae sedis                      5
                            Hadesarchaea                                      7
                            Methanomada group                               186
                            Methanonatronarchaeia                             4
                            Methanopyri                                       6
                            Stenosarchaea group                            1030
                            Theionarchaea                                     2
                            Thermococci                                      97
                            environmental samples                             1
                            unclassified Euryarchaeota                      113
TACK group                  Candidatus Bathyarchaeota                        43
                            Candidatus Geothermarchaeota                      5
                            Candidatus Korarchaeota                           5
                            Candidatus Marsarchaeota                         15
                            Candidatus Nezhaarchaeota                         2
                            Candidatus Verstraetearchaeota                    9
                            Crenarchaeota                                   267
                            Thaumarchaeota                                  134
environmental samples       uncultured archaeon                               1
                            uncultured archaeon A07HB70                       1
                            uncultured archaeon A07HN63                       1
                            uncultured archaeon A07HR60                       1
                            uncultured archaeon A07HR67                       1
unclassified Archaea        archaeon ADurb.Bin336                             1
                            archaeon MnTg01                                   1
                            unclassified Archaea (miscellaneous)             64

                                                                  Kingdom  \
Group                       SubGroup
Asgard group                Candidatus Heimdallarchaeota                5
                            Candidatus Helarchaeota                     3
                            Candidatus Lokiarchaeota                    6
                            Candidatus Odinarchaeota                    1
                            Candidatus Thorarchaeota                    8
                            Candidatus Wukongarchaeota                 51
                            unclassified Asgard group                   1
Candidatus Thermoplasmatota DHVE2 group                                 1
                            Thermoplasmata                             19
DPANN group                 Candidatus Aenigmarchaeota                 15
                            Candidatus Altiarchaeota                    1
                            Candidatus Diapherotrites                  12
                            Candidatus Micrarchaeota                   36
                            Candidatus Pacearchaeota                   41
                            Candidatus Parvarchaeota                   12
                            Candidatus Woesearchaeota                  38
                            Nanoarchaeota                              16
                            unclassified DPANN group                    2
Euryarchaeota               Archaeoglobi                               19
                            Candidatus Methanoliparia                   2
                            Diaforarchaea group                       405
                            Euryarchaeota incertae sedis                5
                            Hadesarchaea                                7
                            Methanomada group                         186
                            Methanonatronarchaeia                       4
                            Methanopyri                                 6
                            Stenosarchaea group                      1030
                            Theionarchaea                               2
                            Thermococci                                97
                            environmental samples                       1
                            unclassified Euryarchaeota                113
TACK group                  Candidatus Bathyarchaeota                  43
                            Candidatus Geothermarchaeota                5
                            Candidatus Korarchaeota                     5
                            Candidatus Marsarchaeota                   15
                            Candidatus Nezhaarchaeota                   2
                            Candidatus Verstraetearchaeota              9
                            Crenarchaeota                             267
                            Thaumarchaeota                            134
environmental samples       uncultured archaeon                         1
                            uncultured archaeon A07HB70                 1
                            uncultured archaeon A07HN63                 1
                            uncultured archaeon A07HR60                 1
                            uncultured archaeon A07HR67                 1
unclassified Archaea        archaeon ADurb.Bin336                       1
                            archaeon MnTg01                             1
                            unclassified Archaea (miscellaneous)       64

                                                                  Organism_name
Group                       SubGroup
Asgard group                Candidatus Heimdallarchaeota                      5
                            Candidatus Helarchaeota                           3
                            Candidatus Lokiarchaeota                          6
                            Candidatus Odinarchaeota                          1
                            Candidatus Thorarchaeota                          8
                            Candidatus Wukongarchaeota                       51
                            unclassified Asgard group                         1
Candidatus Thermoplasmatota DHVE2 group                                       1
                            Thermoplasmata                                   19
DPANN group                 Candidatus Aenigmarchaeota                       15
                            Candidatus Altiarchaeota                          1
                            Candidatus Diapherotrites                        12
                            Candidatus Micrarchaeota                         36
                            Candidatus Pacearchaeota                         41
                            Candidatus Parvarchaeota                         12
                            Candidatus Woesearchaeota                        38
                            Nanoarchaeota                                    16
                            unclassified DPANN group                          2
Euryarchaeota               Archaeoglobi                                     19
                            Candidatus Methanoliparia                         2
                            Diaforarchaea group                             405
                            Euryarchaeota incertae sedis                      5
                            Hadesarchaea                                      7
                            Methanomada group                               186
                            Methanonatronarchaeia                             4
                            Methanopyri                                       6
                            Stenosarchaea group                            1030
                            Theionarchaea                                     2
                            Thermococci                                      97
                            environmental samples                             1
                            unclassified Euryarchaeota                      113
TACK group                  Candidatus Bathyarchaeota                        43
                            Candidatus Geothermarchaeota                      5
                            Candidatus Korarchaeota                           5
                            Candidatus Marsarchaeota                         15
                            Candidatus Nezhaarchaeota                         2
                            Candidatus Verstraetearchaeota                    9
                            Crenarchaeota                                   267
                            Thaumarchaeota                                  134
environmental samples       uncultured archaeon                               1
                            uncultured archaeon A07HB70                       1
                            uncultured archaeon A07HN63                       1
                            uncultured archaeon A07HR60                       1
                            uncultured archaeon A07HR67                       1
unclassified Archaea        archaeon ADurb.Bin336                             1
                            archaeon MnTg01                                   1
                            unclassified Archaea (miscellaneous)             64

In [ ]:
# Remove all the subgroups which has less sample size, <10.

# Plan for the bacteria and settle the dataset for the PERF.

In [ ]:
# prepare the dataset here in this Notebook and do analysis in new notebook.



# Remove all the subgroups, from the main dataframe and get the demographics.

# Also, remove the same speices and just keep one of them, based on being high genome size.

# Keep all this less samples subgroups in a list to avoid while using individual files.

In [ ]:
# 1 .Remove

In [295]:
# find out the largest genome, out of all duplicate species.

df = pd.read_csv('./archaea_OrganismTable.tsv', sep='\t')
df_A_info = df[['organism_name', 'Kingdom', 'Group', 'Subgroup', 'infraspecific_name', 'isolate', 'assembly_accession', 'assembly_level', 'asm_name', 'refseq_category', 'species_taxid', 'ftp_path']]

archaea_perf = pd.read_csv("./archaea_Perf_MainTableInfo.tsv", sep = "\t")

archaea_perf
df_A_info.head(50)

,organism_name,Kingdom,Group,Subgroup,infraspecific_name,isolate,assembly_accession,assembly_level,asm_name,refseq_category,species_taxid,ftp_path
0,Methanobacterium bryantii,Archaea,Euryarchaeota,Methanomada group,strain=M.o.H.,NaN,GCF_002287175.1,Contig,ASM228717v1,representative genome,2161,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
1,Methanobacterium formicicum,Archaea,Euryarchaeota,Methanomada group,strain=BRM9,NaN,GCF_000762265.1,Complete Genome,ASM76226v1,na,2162,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
2,Methanobacterium formicicum,Archaea,Euryarchaeota,Methanomada group,NaN,Mb9,GCF_001458655.1,Complete Genome,Mb9,representative genome,2162,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
3,Methanobrevibacter smithii,Archaea,Euryarchaeota,Methanomada group,strain=ACE6,NaN,GCF_000824705.1,Contig,Methanobrevibacter smithii,na,2173,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
4,Methanobrevibacter smithii,Archaea,Euryarchaeota,Methanomada group,strain=WWM1085,NaN,GCF_002252585.1,Contig,ASM225258v1,na,2173,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
5,Methanobrevibacter smithii,Archaea,Euryarchaeota,Methanomada group,strain=KB11,NaN,GCF_002813085.1,Complete Genome,ASM281308v1,na,2173,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
6,Methanobrevibacter smithii,Archaea,Euryarchaeota,Methanomada group,strain=MCC662,NaN,GCF_018784305.1,Scaffold,ASM1878430v1,na,2173,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
7,Methanobrevibacter smithii,Archaea,Euryarchaeota,Methanomada group,strain=C2 CSUR P5816,NaN,GCF_900650605.1,Contig,PRJEB30627,na,2173,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/9...
8,Methanobrevibacter smithii,Archaea,Euryarchaeota,Methanomada group,NaN,PRJEB30652,GCF_900654205.1,Scaffold,PRJEB30652,na,2173,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/9...
9,Methanobrevibacter smithii,Archaea,Euryarchaeota,Methanomada group,NaN,PRJEB32190,GCF_901111125.1,Contig,PRJEB32190,na,2173,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/9...
10,Methanobrevibacter smithii,Archaea,Euryarchaeota,Methanomada group,NaN,MGYG-HGUT-02163,GCF_902384055.1,Scaffold,UHGG_MGYG-HGUT-02163,na,2173,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/9...
11,Methanobrevibacter smithii,Archaea,Euryarchaeota,Methanomada group,NaN,MGYG-HGUT-02446,GCF_902387325.1,Contig,UHGG_MGYG-HGUT-02446,na,2173,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/9...
12,Methanohalophilus halophilus,Archaea,Euryarchaeota,Stenosarchaea group,strain=Z-7982,NaN,GCF_001889405.1,Complete Genome,ASM188940v1,representative genome,2177,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
13,Methanohalophilus halophilus,Archaea,Euryarchaeota,Stenosarchaea group,strain=DSM 3094,NaN,GCF_003722055.1,Contig,ASM372205v1,na,2177,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
14,Methanohalophilus halophilus,Archaea,Euryarchaeota,Stenosarchaea group,strain=Z-7982,NaN,GCF_900106905.1,Contig,IMG-taxon 2642422606 annotated assembly,na,2177,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/9...
15,Methanococcus voltae,Archaea,Euryarchaeota,Methanomada group,strain=DSM 14649,NaN,GCF_017875395.1,Contig,ASM1787539v1,na,2188,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
16,Methanococcus voltae,Archaea,Euryarchaeota,Methanomada group,strain=C4,NaN,GCF_017875565.1,Contig,ASM1787556v1,representative genome,2188,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
17,Methanococcus voltae,Archaea,Euryarchaeota,Methanomada group,strain=A2,NaN,GCF_017875625.1,Contig,ASM1787562v1,na,2188,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
18,Methanoculleus thermophilus,Archaea,Euryarchaeota,Stenosarchaea group,strain=CR-1,NaN,GCF_001571405.1,Contig,ASM157140v1,representative genome,2200,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
19,Methanoculleus thermophilus,Archaea,Euryarchaeota,Stenosarchaea group,strain=DSM 2373,NaN,GCF_900101055.1,Contig,IMG-taxon 2634166298 annotated assembly,na,2200,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/9...
20,Methanospirillum hungatei,Archaea,Euryarchaeota,Stenosarchaea group,strain=GP1,NaN,GCF_019263745.1,Complete Genome,ASM1926374v1,na,2203,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
21,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=3.F.A.2.5,NaN,GCF_000978935.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
22,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=3.F.A.1A.3,NaN,GCF_000978945.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
23,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=2.F.T.2.6,NaN,GCF_000978955.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
24,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=3.F.T.1A.1,NaN,GCF_000978965.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
25,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=3.H.A.2.1,NaN,GCF_000979015.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
26,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=3.H.A.2.6,NaN,GCF_000979025.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
27,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=3.H.M.1B.1,NaN,GCF_000979035.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
28,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=3.H.M.1B.5,NaN,GCF_000979045.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
29,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=3.H.M.2.7,NaN,GCF_000979095.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
30,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=1.F.A.1A.3,NaN,GCF_000979105.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
31,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=1.F.A.2.8,NaN,GCF_000979115.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
32,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=1.F.M.0.5,NaN,GCF_000979125.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
33,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=1.H.A.1A.3,NaN,GCF_000979175.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
34,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=1.H.A.1A.4,NaN,GCF_000979185.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
35,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=1.H.A.2.3,NaN,GCF_000979195.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
36,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=1.H.A.2.7,NaN,GCF_000979205.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
37,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=1.H.M.1A.2,NaN,GCF_000979255.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
38,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=1.H.M.2.1,NaN,GCF_000979265.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
39,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=1.H.M.2.2,NaN,GCF_000979275.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
40,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=2.F.A.2.3,NaN,GCF_000979335.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
41,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=2.F.A.2.4,NaN,GCF_000979345.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
42,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=2.F.T.0.2,NaN,GCF_000979375.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
43,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=3.F.A.1A.1,NaN,GCF_000979495.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
44,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=3.F.A.1B.1,NaN,GCF_000979505.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
45,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=3.F.A.2.12,NaN,GCF_000979515.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
46,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=3.F.A.2.3,NaN,GCF_000979555.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
47,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=3.F.A.2.6,NaN,GCF_000979575.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
48,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=3.F.A.2.7,NaN,GCF_000979585.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...
49,Methanosarcina mazei,Archaea,Euryarchaeota,Stenosarchaea group,strain=3.F.T.1A.2,NaN,GCF_000979595.1,Scaffold,gtlEnvA5udCFS,na,2209,https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/0...

In [309]:

archaea_perf['assembly_level1']= archaea_perf['assembly_level']

archaea_perf['assembly_level1']= archaea_perf['assembly_level1'].replace(['Contig','Complete Genome','Scaffold','Chromosome'],[1,4,2,3])

# archaea_perf.drop(['Coded'], axis = 1, inplace = True)
archaea_perf.head()

,organism_name,Kingdom,Group,Subgroup,infraspecific_name,isolate,assembly_accession,assembly_level,asm_name,refseq_category,species_taxid,file_name,genome_size,gc_percent,total_repeats,total_repeat_bases,total_repeats_norm,total_repeat_bases_norm,assembly_level1
0,Methanobacterium bryantii,Archaea,Euryarchaeota,Methanomada group,strain=M.o.H.,NaN,GCF_002287175.1,Contig,ASM228717v1,representative genome,2161.0,GCF_002287175.1_ASM228717v1,3466370.0,33.19,2860.0,35950.0,0.82507,10.37108,1.0
1,Methanobacterium formicicum,Archaea,Euryarchaeota,Methanomada group,strain=BRM9,NaN,GCF_000762265.1,Complete Genome,ASM76226v1,na,2162.0,GCF_000762265.1_ASM76226v1,2449987.0,41.34,1669.0,20975.0,0.68123,8.56127,4.0
2,Methanobacterium formicicum,Archaea,Euryarchaeota,Methanomada group,NaN,Mb9,GCF_001458655.1,Complete Genome,Mb9,representative genome,2162.0,GCF_001458655.1_Mb9,2494510.0,41.14,1710.0,21513.0,0.68551,8.62414,4.0
3,Methanobrevibacter smithii,Archaea,Euryarchaeota,Methanomada group,strain=ACE6,NaN,GCF_000824705.1,Contig,Methanobrevibacter smithii,na,2173.0,GCF_000824705.1_Methanobrevibacter_smithii,1718384.0,31.51,1595.0,20027.0,0.92820,11.65455,1.0
4,Methanobrevibacter smithii,Archaea,Euryarchaeota,Methanomada group,strain=WWM1085,NaN,GCF_002252585.1,Contig,ASM225258v1,na,2173.0,GCF_002252585.1_ASM225258v1,1926345.0,30.29,1847.0,23326.0,0.95881,12.10894,1.0

In [457]:
# removing duplicated species from the PERF, dataset.


Duplicates_filtered_df = pd.DataFrame()


unique_species = archaea_perf['organism_name'].unique()
for org in tqdm(unique_species):
    species = archaea_perf[archaea_perf['organism_name'] == org]
    if len(species) == 1:
        Duplicates_filtered_df = Duplicates_filtered_df.append(species)
    elif len(species) > 1:
        highest = 0
        for ind1 in species.index:
            assembly_level = species['assembly_level1'][ind1]
            if assembly_level > highest:
                highest = assembly_level
                row = species.loc[[ind1]]
        multiple_highest = species[species['assembly_level1'] == highest]
        high2 = 0
        if len(multiple_highest) > 1:
            for ind2  in multiple_highest.index:
                if multiple_highest['genome_size'][ind2] > high2:
                    high2 = multiple_highest['genome_size'][ind2]
                    d_row = multiple_highest.loc[[ind2]]
            Duplicates_filtered_df = Duplicates_filtered_df.append(d_row)
        else:
            Duplicates_filtered_df = Duplicates_filtered_df.append(multiple_highest)

100%|██████████| 909/909 [00:01<00:00, 716.73it/s]

In [471]:
Duplicates_filtered_df.head()

,organism_name,Kingdom,Group,Subgroup,infraspecific_name,isolate,assembly_accession,assembly_level,asm_name,refseq_category,species_taxid,file_name,genome_size,gc_percent,total_repeats,total_repeat_bases,total_repeats_norm,total_repeat_bases_norm,assembly_level1
0,Methanobacterium bryantii,Archaea,Euryarchaeota,Methanomada group,strain=M.o.H.,NaN,GCF_002287175.1,Contig,ASM228717v1,representative genome,2161.0,GCF_002287175.1_ASM228717v1,3466370.0,33.19,2860.0,35950.0,0.82507,10.37108,1.0
2,Methanobacterium formicicum,Archaea,Euryarchaeota,Methanomada group,NaN,Mb9,GCF_001458655.1,Complete Genome,Mb9,representative genome,2162.0,GCF_001458655.1_Mb9,2494510.0,41.14,1710.0,21513.0,0.68551,8.62414,4.0
5,Methanobrevibacter smithii,Archaea,Euryarchaeota,Methanomada group,strain=KB11,NaN,GCF_002813085.1,Complete Genome,ASM281308v1,na,2173.0,GCF_002813085.1_ASM281308v1,1805545.0,31.15,1687.0,21231.0,0.93434,11.75878,4.0
12,Methanohalophilus halophilus,Archaea,Euryarchaeota,Stenosarchaea group,strain=Z-7982,NaN,GCF_001889405.1,Complete Genome,ASM188940v1,representative genome,2177.0,GCF_001889405.1_ASM188940v1,2022959.0,42.40,1060.0,13231.0,0.52398,6.54042,4.0
15,Methanococcus voltae,Archaea,Euryarchaeota,Methanomada group,strain=DSM 14649,NaN,GCF_017875395.1,Contig,ASM1787539v1,na,2188.0,GCF_017875395.1_ASM1787539v1,1899827.0,29.02,2549.0,34277.0,1.34170,18.04217,1.0

In [511]:
# adding the number of bases for msdb_info data.

import pandas as pd
from tqdm import tqdm

# df = pd.read_csv('', sep='\t')

msdb_data = pd.read_csv('/home/ccmb/Desktop/KIRAN_GUEST WORKER/msdb_info/Overall_species_UR_Eukaryotes1.csv', sep = "\t")

Assembly_level = []
assembly_name = []

for r, row in tqdm(msdb_data.iterrows()):
    
    json_file = open(f'/home/ccmb/Desktop/KIRAN_GUEST WORKER/msdb_info/{row.MSDB_Id}_info.json') 
    data = json.load(json_file)
    
    assembly_level_variable = data['info']['OrgInfo']['AssemblyLevel']
    Assembly_level.append(assembly_level_variable)
    
    assembly_name_variable = data['info']['OrgInfo']['Build']
    assembly_name.append(assembly_name_variable)
    
d0 = pd.DataFrame(Assembly_level)
d1 = pd.DataFrame(assembly_name)

37170it [14:22, 43.08it/s]

ValueError: Length mismatch: Expected axis has 3 elements, new values have 2 elements

In [512]:
datafrm = pd.concat([d0,d1], axis = 1)
datafrm.columns = ['Assembly_level', 'Assembly_name']
datafrm.head()

    Assembly_level Assembly_name
0         Scaffold   ASM972666v1
1  Complete Genome   ASM165451v1
2           Contig   ASM434908v1
3  Complete Genome    ASM44601v1
4         Scaffold   ASM175108v1

In [486]:
# add this column to the actuall dataset of msdf_info

# choose the columns to be there for the analysis and while merging.

# Then merge the Perf and msdb_info dataframes, 

# Check for the duplicates -----------condition--------- if there are duplicates then run the "taking highest genome size speices" snippet.

# Profile the subgroup counts and remove which ever has less than 10 species in it.

482

In [498]:
for_concat = pd.read_csv('/home/ccmb/Desktop/KIRAN_GUEST WORKER/msdb_info/Overall_species_UR_Eukaryotes1.csv', sep = "\t")

prepare = pd.concat([datafrm, for_concat], axis = 1)

prepare.rename(columns = {'MSDB_ID':'file_name', 'Total_reads':'Total_repeats'}, inplace = True)

msdb_prep = prepare[['file_name', 'Kingdom', 'Group', 'SubGroup', 'Organism_name', 'Genome_size', 'GC%', 'Total_repeats', 'TotalRepBases']]

msdb_prep.head()

,file_name,Kingdom,Group,SubGroup,Organism_name,Genome_size,GC%,Total_repeats,TotalRepBases
0,MSDBG035173,Eukaryota,Protists,Other Protists,Plasmodiophora brassicae,24052371,59.34,21485,286466
1,MSDBG031540,Bacteria,Proteobacteria,Gammaproteobacteria,Pseudomonas koreensis,5991225,60.60,4339,54700
2,MSDBG030010,Bacteria,FCB group,Bacteroidetes/Chlorobi group,Flavobacterium caseinilyticum,3838245,34.82,2905,36613
3,MSDBG008930,Archaea,TACK group,Crenarchaeota,Thermofilum adornatus,1750259,46.51,855,10685
4,MSDBG017886,Bacteria,Proteobacteria,delta/epsilon subdivisions,Desulfobacterales bacterium C00003060,2219351,48.93,924,11636

In [513]:
prepare_v1 = pd.concat([msdb_prep, datafrm], axis = 1)
prepare_v1.head()

,file_name,Kingdom,Group,SubGroup,Organism_name,Genome_size,GC%,Total_repeats,TotalRepBases,Assembly_level,Assembly_name
0,MSDBG035173,Eukaryota,Protists,Other Protists,Plasmodiophora brassicae,24052371,59.34,21485,286466,Scaffold,ASM972666v1
1,MSDBG031540,Bacteria,Proteobacteria,Gammaproteobacteria,Pseudomonas koreensis,5991225,60.60,4339,54700,Complete Genome,ASM165451v1
2,MSDBG030010,Bacteria,FCB group,Bacteroidetes/Chlorobi group,Flavobacterium caseinilyticum,3838245,34.82,2905,36613,Contig,ASM434908v1
3,MSDBG008930,Archaea,TACK group,Crenarchaeota,Thermofilum adornatus,1750259,46.51,855,10685,Complete Genome,ASM44601v1
4,MSDBG017886,Bacteria,Proteobacteria,delta/epsilon subdivisions,Desulfobacterales bacterium C00003060,2219351,48.93,924,11636,Scaffold,ASM175108v1

In [514]:
Duplicates_filtered_df.rename(columns = {'organism_name':'Organism_name','Subgroup':'SubGroup', 'gc_percent':'GC%', 'total_repeats':'Total_repeats', 'total_repeat_bases':'TotalRepBases', 'genome_size':'Genome_size', 'assembly_level':'Assembly_level', 'asm_name':'Assembly_name'}, inplace = True)

dups_filtered_prep = Duplicates_filtered_df[['file_name', 'Kingdom', 'Group', 'SubGroup', 'Organism_name', 'Genome_size', 'GC%', 'Total_repeats', 'TotalRepBases','Assembly_level','Assembly_name']]

dups_filtered_prep.head()

,file_name,Kingdom,Group,SubGroup,Organism_name,Genome_size,GC%,Total_repeats,TotalRepBases,Assembly_level,Assembly_name
0,GCF_002287175.1_ASM228717v1,Archaea,Euryarchaeota,Methanomada group,Methanobacterium bryantii,3466370.0,33.19,2860.0,35950.0,Contig,ASM228717v1
2,GCF_001458655.1_Mb9,Archaea,Euryarchaeota,Methanomada group,Methanobacterium formicicum,2494510.0,41.14,1710.0,21513.0,Complete Genome,Mb9
5,GCF_002813085.1_ASM281308v1,Archaea,Euryarchaeota,Methanomada group,Methanobrevibacter smithii,1805545.0,31.15,1687.0,21231.0,Complete Genome,ASM281308v1
12,GCF_001889405.1_ASM188940v1,Archaea,Euryarchaeota,Stenosarchaea group,Methanohalophilus halophilus,2022959.0,42.40,1060.0,13231.0,Complete Genome,ASM188940v1
15,GCF_017875395.1_ASM1787539v1,Archaea,Euryarchaeota,Methanomada group,Methanococcus voltae,1899827.0,29.02,2549.0,34277.0,Contig,ASM1787539v1

In [539]:
dups_filtered_prep.count()

file_name         908
Kingdom           909
Group             909
SubGroup          909
Organism_name     909
Genome_size       908
GC%               908
Total_repeats     908
TotalRepBases     908
Assembly_level    908
Assembly_name     908
dtype: int64

In [542]:
# appending both the dataframes.

merged_df = dups_filtered_prep.append(prepare_v1, ignore_index = True)
merged_df.shape

(38079, 11)

In [543]:
merged_df.count()

file_name         38078
Kingdom           38079
Group             38079
SubGroup          38079
Organism_name     38079
Genome_size       38078
GC%               38078
Total_repeats     38078
TotalRepBases     38078
Assembly_level    38078
Assembly_name     38078
dtype: int64

In [544]:
# Adding the coding for the Assembly level, to filter the Archaea species.

merged_df['coded_Assembly'] = merged_df['Assembly_level'].replace(['Contig','Complete Genome','Scaffold','Chromosome'],[1,4,2,3])

merged_df.head()

,file_name,Kingdom,Group,SubGroup,Organism_name,Genome_size,GC%,Total_repeats,TotalRepBases,Assembly_level,Assembly_name,coded_Assembly
0,GCF_002287175.1_ASM228717v1,Archaea,Euryarchaeota,Methanomada group,Methanobacterium bryantii,3466370.0,33.19,2860.0,35950.0,Contig,ASM228717v1,1.0
1,GCF_001458655.1_Mb9,Archaea,Euryarchaeota,Methanomada group,Methanobacterium formicicum,2494510.0,41.14,1710.0,21513.0,Complete Genome,Mb9,4.0
2,GCF_002813085.1_ASM281308v1,Archaea,Euryarchaeota,Methanomada group,Methanobrevibacter smithii,1805545.0,31.15,1687.0,21231.0,Complete Genome,ASM281308v1,4.0
3,GCF_001889405.1_ASM188940v1,Archaea,Euryarchaeota,Stenosarchaea group,Methanohalophilus halophilus,2022959.0,42.40,1060.0,13231.0,Complete Genome,ASM188940v1,4.0
4,GCF_017875395.1_ASM1787539v1,Archaea,Euryarchaeota,Methanomada group,Methanococcus voltae,1899827.0,29.02,2549.0,34277.0,Contig,ASM1787539v1,1.0

In [545]:
# removing duplicated species from the merged dataset.


duplicates_merged = pd.DataFrame()


Archeae_species = merged_df[merged_df['Kingdom'] == 'Archaea']
unique_species = Archeae_species['Organism_name'].unique()
for org in tqdm(unique_species):
    species = merged_df[merged_df['Organism_name'] == org]
    if len(species) == 1:
        duplicates_merged = duplicates_merged.append(species)
    elif len(species) > 1:
        highest = 0
        for ind1 in species.index:
            assembly_level = species['coded_Assembly'][ind1]
            if assembly_level > highest:
                highest = assembly_level
                row = species.loc[[ind1]]
        multiple_highest = species[species['coded_Assembly'] == highest]
        high2 = 0
        if len(multiple_highest) > 1:
            for ind2  in multiple_highest.index:
                if multiple_highest['Genome_size'][ind2] > high2:
                    high2 = multiple_highest['Genome_size'][ind2]
                    d_row = multiple_highest.loc[[ind2]]
            duplicates_merged = duplicates_merged.append(d_row)
        else:
            duplicates_merged = duplicates_merged.append(multiple_highest)

100%|██████████| 2188/2188 [00:07<00:00, 274.33it/s]

In [546]:
Archeae_species = merged_df[merged_df['Kingdom'] == 'Archaea']
unique_species = Archeae_species['Organism_name'].unique()
unique_species.shape

(2188,)

In [550]:
duplicates_merged.head()

,file_name,Kingdom,Group,SubGroup,Organism_name,Genome_size,GC%,Total_repeats,TotalRepBases,Assembly_level,Assembly_name,coded_Assembly
0,GCF_002287175.1_ASM228717v1,Archaea,Euryarchaeota,Methanomada group,Methanobacterium bryantii,3466370.0,33.19,2860.0,35950.0,Contig,ASM228717v1,1.0
1,GCF_001458655.1_Mb9,Archaea,Euryarchaeota,Methanomada group,Methanobacterium formicicum,2494510.0,41.14,1710.0,21513.0,Complete Genome,Mb9,4.0
2,GCF_002813085.1_ASM281308v1,Archaea,Euryarchaeota,Methanomada group,Methanobrevibacter smithii,1805545.0,31.15,1687.0,21231.0,Complete Genome,ASM281308v1,4.0
3,GCF_001889405.1_ASM188940v1,Archaea,Euryarchaeota,Stenosarchaea group,Methanohalophilus halophilus,2022959.0,42.40,1060.0,13231.0,Complete Genome,ASM188940v1,4.0
4,GCF_017875395.1_ASM1787539v1,Archaea,Euryarchaeota,Methanomada group,Methanococcus voltae,1899827.0,29.02,2549.0,34277.0,Contig,ASM1787539v1,1.0

In [553]:
# checking the subgroups counts and droping the small sample subgroups species.

duplicates_merged.groupby(['Group', 'SubGroup']).count()

                                                                  file_name  \
Group                       SubGroup
Asgard group                Candidatus Heimdallarchaeota                  5
                            Candidatus Helarchaeota                       3
                            Candidatus Lokiarchaeota                      5
                            Candidatus Odinarchaeota                      1
                            Candidatus Thorarchaeota                      8
                            Candidatus Wukongarchaeota                   45
                            unclassified Asgard group                     1
Candidatus Thermoplasmatota DHVE2 group                                   1
                            Thermoplasmata                               16
DPANN group                 Candidatus Aenigmarchaeota                   15
                            Candidatus Altiarchaeota                      1
                            Candidatus Diapherotrites                    12
                            Candidatus Micrarchaeota                     35
                            Candidatus Pacearchaeota                     41
                            Candidatus Parvarchaeota                     12
                            Candidatus Woesearchaeota                    38
                            Nanoarchaeota                                16
                            unclassified DPANN group                      2
Euryarchaeota               Archaeoglobi                                 16
                            Candidatus Methanoliparia                     2
                            Diaforarchaea group                         395
                            Euryarchaeota incertae sedis                  5
                            Hadesarchaea                                  7
                            Methanomada group                           123
                            Methanonatronarchaeia                         3
                            Methanopyri                                   6
                            Stenosarchaea group                         759
                            Theionarchaea                                 2
                            Thermococci                                  74
                            environmental samples                         1
                            unclassified Euryarchaeota                  113
TACK group                  Candidatus Bathyarchaeota                    42
                            Candidatus Geothermarchaeota                  5
                            Candidatus Korarchaeota                       2
                            Candidatus Marsarchaeota                     15
                            Candidatus Nezhaarchaeota                     2
                            Candidatus Verstraetearchaeota                9
                            Crenarchaeota                               163
                            Thaumarchaeota                              115
environmental samples       uncultured archaeon                           1
                            uncultured archaeon A07HB70                   1
                            uncultured archaeon A07HN63                   1
                            uncultured archaeon A07HR60                   1
                            uncultured archaeon A07HR67                   1
unclassified Archaea        archaeon ADurb.Bin336                         1
                            archaeon MnTg01                               1
                            unclassified Archaea (miscellaneous)         64

                                                                  Kingdom  \
Group                       SubGroup
Asgard group                Candidatus Heimdallarchaeota                5
                            Candidatus Helarchaeota                     3
                            Candidatus Lokiarchaeota                    5
                            Candidatus Odinarchaeota                    1
                            Candidatus Thorarchaeota                    8
                            Candidatus Wukongarchaeota                 45
                            unclassified Asgard group                   1
Candidatus Thermoplasmatota DHVE2 group                                 1
                            Thermoplasmata                             16
DPANN group                 Candidatus Aenigmarchaeota                 15
                            Candidatus Altiarchaeota                    1
                            Candidatus Diapherotrites                  12
                            Candidatus Micrarchaeota                   35
                            Candidatus Pacearchaeota                   41
                            Candidatus Parvarchaeota                   12
                            Candidatus Woesearchaeota                  38
                            Nanoarchaeota                              16
                            unclassified DPANN group                    2
Euryarchaeota               Archaeoglobi                               16
                            Candidatus Methanoliparia                   2
                            Diaforarchaea group                       395
                            Euryarchaeota incertae sedis                5
                            Hadesarchaea                                7
                            Methanomada group                         123
                            Methanonatronarchaeia                       3
                            Methanopyri                                 6
                            Stenosarchaea group                       760
                            Theionarchaea                               2
                            Thermococci                                74
                            environmental samples                       1
                            unclassified Euryarchaeota                113
TACK group                  Candidatus Bathyarchaeota                  42
                            Candidatus Geothermarchaeota                5
                            Candidatus Korarchaeota                     2
                            Candidatus Marsarchaeota                   15
                            Candidatus Nezhaarchaeota                   2
                            Candidatus Verstraetearchaeota              9
                            Crenarchaeota                             163
                            Thaumarchaeota                            115
environmental samples       uncultured archaeon                         1
                            uncultured archaeon A07HB70                 1
                            uncultured archaeon A07HN63                 1
                            uncultured archaeon A07HR60                 1
                            uncultured archaeon A07HR67                 1
unclassified Archaea        archaeon ADurb.Bin336                       1
                            archaeon MnTg01                             1
                            unclassified Archaea (miscellaneous)       64

                                                                  Organism_name  \
Group                       SubGroup
Asgard group                Candidatus Heimdallarchaeota                      5
                            Candidatus Helarchaeota                           3
                            Candidatus Lokiarchaeota                          5
                            Candidatus Odinarchaeota                          1
                            Candidatus Thorarchaeota                          8
                            Candidatus Wukongarchaeota                       45
                            unclassified Asgard group                         1
Candidatus Thermoplasmatota DHVE2 group                                       1
                            Thermoplasmata                                   16
DPANN group                 Candidatus Aenigmarchaeota                       15
                            Candidatus Altiarchaeota                          1
                            Candidatus Diapherotrites                        12
                            Candidatus Micrarchaeota                         35
                            Candidatus Pacearchaeota                         41
                            Candidatus Parvarchaeota                         12
                            Candidatus Woesearchaeota                        38
                            Nanoarchaeota                                    16
                            unclassified DPANN group                          2
Euryarchaeota               Archaeoglobi                                     16
                            Candidatus Methanoliparia                         2
                            Diaforarchaea group                             395
                            Euryarchaeota incertae sedis                      5
                            Hadesarchaea                                      7
                            Methanomada group                               123
                            Methanonatronarchaeia                             3
                            Methanopyri                                       6
                            Stenosarchaea group                             760
                            Theionarchaea                                     2
                            Thermococci                                      74
                            environmental samples                             1
                            unclassified Euryarchaeota                      113
TACK group                  Candidatus Bathyarchaeota                        42
                            Candidatus Geothermarchaeota                      5
                            Candidatus Korarchaeota                           2
                            Candidatus Marsarchaeota                         15
                            Candidatus Nezhaarchaeota                         2
                            Candidatus Verstraetearchaeota                    9
                            Crenarchaeota                                   163
                            Thaumarchaeota                                  115
environmental samples       uncultured archaeon                               1
                            uncultured archaeon A07HB70                       1
                            uncultured archaeon A07HN63                       1
                            uncultured archaeon A07HR60                       1
                            uncultured archaeon A07HR67                       1
unclassified Archaea        archaeon ADurb.Bin336                             1
                            archaeon MnTg01                                   1
                            unclassified Archaea (miscellaneous)             64

                                                                  Genome_size  \
Group                       SubGroup
Asgard group                Candidatus Heimdallarchaeota                    5
                            Candidatus Helarchaeota                         3
                            Candidatus Lokiarchaeota                        5
                            Candidatus Odinarchaeota                        1
                            Candidatus Thorarchaeota                        8
                            Candidatus Wukongarchaeota                     45
                            unclassified Asgard group                       1
Candidatus Thermoplasmatota DHVE2 group                                     1
                            Thermoplasmata                                 16
DPANN group                 Candidatus Aenigmarchaeota                     15
                            Candidatus Altiarchaeota                        1
                            Candidatus Diapherotrites                      12
                            Candidatus Micrarchaeota                       35
                            Candidatus Pacearchaeota                       41
                            Candidatus Parvarchaeota                       12
                            Candidatus Woesearchaeota                      38
                            Nanoarchaeota                                  16
                            unclassified DPANN group                        2
Euryarchaeota               Archaeoglobi                                   16
                            Candidatus Methanoliparia                       2
                            Diaforarchaea group                           395
                            Euryarchaeota incertae sedis                    5
                            Hadesarchaea                                    7
                            Methanomada group                             123
                            Methanonatronarchaeia                           3
                            Methanopyri                                     6
                            Stenosarchaea group                           759
                            Theionarchaea                                   2
                            Thermococci                                    74
                            environmental samples                           1
                            unclassified Euryarchaeota                    113
TACK group                  Candidatus Bathyarchaeota                      42
                            Candidatus Geothermarchaeota                    5
                            Candidatus Korarchaeota                         2
                            Candidatus Marsarchaeota                       15
                            Candidatus Nezhaarchaeota                       2
                            Candidatus Verstraetearchaeota                  9
                            Crenarchaeota                                 163
                            Thaumarchaeota                                115
environmental samples       uncultured archaeon                             1
                            uncultured archaeon A07HB70                     1
                            uncultured archaeon A07HN63                     1
                            uncultured archaeon A07HR60                     1
                            uncultured archaeon A07HR67                     1
unclassified Archaea        archaeon ADurb.Bin336                           1
                            archaeon MnTg01                                 1
                            unclassified Archaea (miscellaneous)           64

                                                                  GC%  \
Group                       SubGroup
Asgard group                Candidatus Heimdallarchaeota            5
                            Candidatus Helarchaeota                 3
                            Candidatus Lokiarchaeota                5
                            Candidatus Odinarchaeota                1
                            Candidatus Thorarchaeota                8
                            Candidatus Wukongarchaeota             45
                            unclassified Asgard group               1
Candidatus Thermoplasmatota DHVE2 group                             1
                            Thermoplasmata                         16
DPANN group                 Candidatus Aenigmarchaeota             15
                            Candidatus Altiarchaeota                1
                            Candidatus Diapherotrites              12
                            Candidatus Micrarchaeota               35
                            Candidatus Pacearchaeota               41
                            Candidatus Parvarchaeota               12
                            Candidatus Woesearchaeota              38
                            Nanoarchaeota                          16
                            unclassified DPANN group                2
Euryarchaeota               Archaeoglobi                           16
                            Candidatus Methanoliparia               2
                            Diaforarchaea group                   395
                            Euryarchaeota incertae sedis            5
                            Hadesarchaea                            7
                            Methanomada group                     123
                            Methanonatronarchaeia                   3
                            Methanopyri                             6
                            Stenosarchaea group                   759
                            Theionarchaea                           2
                            Thermococci                            74
                            environmental samples                   1
                            unclassified Euryarchaeota            113
TACK group                  Candidatus Bathyarchaeota              42
                            Candidatus Geothermarchaeota            5
                            Candidatus Korarchaeota                 2
                            Candidatus Marsarchaeota               15
                            Candidatus Nezhaarchaeota               2
                            Candidatus Verstraetearchaeota          9
                            Crenarchaeota                         163
                            Thaumarchaeota                        115
environmental samples       uncultured archaeon                     1
                            uncultured archaeon A07HB70             1
                            uncultured archaeon A07HN63             1
                            uncultured archaeon A07HR60             1
                            uncultured archaeon A07HR67             1
unclassified Archaea        archaeon ADurb.Bin336                   1
                            archaeon MnTg01                         1
                            unclassified Archaea (miscellaneous)   64

                                                                  Total_repeats  \
Group                       SubGroup
Asgard group                Candidatus Heimdallarchaeota                      5
                            Candidatus Helarchaeota                           3
                            Candidatus Lokiarchaeota                          5
                            Candidatus Odinarchaeota                          1
                            Candidatus Thorarchaeota                          8
                            Candidatus Wukongarchaeota                       45
                            unclassified Asgard group                         1
Candidatus Thermoplasmatota DHVE2 group                                       1
                            Thermoplasmata                                   16
DPANN group                 Candidatus Aenigmarchaeota                       15
                            Candidatus Altiarchaeota                          1
                            Candidatus Diapherotrites                        12
                            Candidatus Micrarchaeota                         35
                            Candidatus Pacearchaeota                         41
                            Candidatus Parvarchaeota                         12
                            Candidatus Woesearchaeota                        38
                            Nanoarchaeota                                    16
                            unclassified DPANN group                          2
Euryarchaeota               Archaeoglobi                                     16

In [556]:
small_sample = pd.read_csv("/home/ccmb/Desktop/Less_samples_subgroups.csv", sep = ",", header = None)

final_df = duplicates_merged

for ind0 in small_sample.index:
    subgroup = small_sample[0][ind0]
    for ind in final_df.index:
        if final_df['SubGroup'][ind] == subgroup:
            final_df.drop(ind, axis = 0, inplace = True)
final_df

,file_name,Kingdom,Group,SubGroup,Organism_name,Genome_size,GC%,Total_repeats,TotalRepBases,Assembly_level,Assembly_name,coded_Assembly
0,GCF_002287175.1_ASM228717v1,Archaea,Euryarchaeota,Methanomada group,Methanobacterium bryantii,3466370.0,33.19,2860.0,35950.0,Contig,ASM228717v1,1.0
1,GCF_001458655.1_Mb9,Archaea,Euryarchaeota,Methanomada group,Methanobacterium formicicum,2494510.0,41.14,1710.0,21513.0,Complete Genome,Mb9,4.0
2,GCF_002813085.1_ASM281308v1,Archaea,Euryarchaeota,Methanomada group,Methanobrevibacter smithii,1805545.0,31.15,1687.0,21231.0,Complete Genome,ASM281308v1,4.0
3,GCF_001889405.1_ASM188940v1,Archaea,Euryarchaeota,Stenosarchaea group,Methanohalophilus halophilus,2022959.0,42.40,1060.0,13231.0,Complete Genome,ASM188940v1,4.0
4,GCF_017875395.1_ASM1787539v1,Archaea,Euryarchaeota,Methanomada group,Methanococcus voltae,1899827.0,29.02,2549.0,34277.0,Contig,ASM1787539v1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
37935,MSDBG015686,Archaea,DPANN group,Candidatus Woesearchaeota,Candidatus Woesearchaeota archaeon CG08_land_8...,1216694.0,46.74,741.0,9278.0,Scaffold,ASM276333v1,2.0
37953,MSDBG021474,Archaea,Euryarchaeota,Diaforarchaea group,Marine group II euryarchaeote REDSEA-S37_B2N9,1207303.0,50.48,592.0,7426.0,Contig,ASM162918v2,1.0
37981,MSDBG010896,Archaea,Euryarchaeota,Archaeoglobi,Archaeoglobales archaeon,2609224.0,38.41,1666.0,20900.0,Contig,ASM366299v1,1.0
38064,MSDBG014719,Archaea,DPANN group,Candidatus Pacearchaeota,Candidatus Pacearchaeota archaeon CG10_big_fil...,850778.0,34.72,801.0,10179.0,Scaffold,ASM276303v1,2.0
38076,MSDBG021456,Archaea,Euryarchaeota,Diaforarchaea group,Marine Group II euryarchaeote SCGC AB-629-J06,534847.0,34.12,496.0,6424.0,Contig,ASM37604v1,1.0

In [557]:
final_df.groupby(['Group','SubGroup']).count()

                                                                  file_name  \
Group                       SubGroup
Asgard group                Candidatus Wukongarchaeota                   45
Candidatus Thermoplasmatota Thermoplasmata                               16
DPANN group                 Candidatus Aenigmarchaeota                   15
                            Candidatus Diapherotrites                    12
                            Candidatus Micrarchaeota                     35
                            Candidatus Pacearchaeota                     41
                            Candidatus Parvarchaeota                     12
                            Candidatus Woesearchaeota                    38
                            Nanoarchaeota                                16
Euryarchaeota               Archaeoglobi                                 16
                            Diaforarchaea group                         395
                            Methanomada group                           123
                            Stenosarchaea group                         759
                            Thermococci                                  74
                            unclassified Euryarchaeota                  113
TACK group                  Candidatus Bathyarchaeota                    42
                            Candidatus Marsarchaeota                     15
                            Crenarchaeota                               163
                            Thaumarchaeota                              115
unclassified Archaea        unclassified Archaea (miscellaneous)         64

                                                                  Kingdom  \
Group                       SubGroup
Asgard group                Candidatus Wukongarchaeota                 45
Candidatus Thermoplasmatota Thermoplasmata                             16
DPANN group                 Candidatus Aenigmarchaeota                 15
                            Candidatus Diapherotrites                  12
                            Candidatus Micrarchaeota                   35
                            Candidatus Pacearchaeota                   41
                            Candidatus Parvarchaeota                   12
                            Candidatus Woesearchaeota                  38
                            Nanoarchaeota                              16
Euryarchaeota               Archaeoglobi                               16
                            Diaforarchaea group                       395
                            Methanomada group                         123
                            Stenosarchaea group                       760
                            Thermococci                                74
                            unclassified Euryarchaeota                113
TACK group                  Candidatus Bathyarchaeota                  42
                            Candidatus Marsarchaeota                   15
                            Crenarchaeota                             163
                            Thaumarchaeota                            115
unclassified Archaea        unclassified Archaea (miscellaneous)       64

                                                                  Organism_name  \
Group                       SubGroup
Asgard group                Candidatus Wukongarchaeota                       45
Candidatus Thermoplasmatota Thermoplasmata                                   16
DPANN group                 Candidatus Aenigmarchaeota                       15
                            Candidatus Diapherotrites                        12
                            Candidatus Micrarchaeota                         35
                            Candidatus Pacearchaeota                         41
                            Candidatus Parvarchaeota                         12
                            Candidatus Woesearchaeota                        38
                            Nanoarchaeota                                    16
Euryarchaeota               Archaeoglobi                                     16
                            Diaforarchaea group                             395
                            Methanomada group                               123
                            Stenosarchaea group                             760
                            Thermococci                                      74
                            unclassified Euryarchaeota                      113
TACK group                  Candidatus Bathyarchaeota                        42
                            Candidatus Marsarchaeota                         15
                            Crenarchaeota                                   163
                            Thaumarchaeota                                  115
unclassified Archaea        unclassified Archaea (miscellaneous)             64

                                                                  Genome_size  \
Group                       SubGroup
Asgard group                Candidatus Wukongarchaeota                     45
Candidatus Thermoplasmatota Thermoplasmata                                 16
DPANN group                 Candidatus Aenigmarchaeota                     15
                            Candidatus Diapherotrites                      12
                            Candidatus Micrarchaeota                       35
                            Candidatus Pacearchaeota                       41
                            Candidatus Parvarchaeota                       12
                            Candidatus Woesearchaeota                      38
                            Nanoarchaeota                                  16
Euryarchaeota               Archaeoglobi                                   16
                            Diaforarchaea group                           395
                            Methanomada group                             123
                            Stenosarchaea group                           759
                            Thermococci                                    74
                            unclassified Euryarchaeota                    113
TACK group                  Candidatus Bathyarchaeota                      42
                            Candidatus Marsarchaeota                       15
                            Crenarchaeota                                 163
                            Thaumarchaeota                                115
unclassified Archaea        unclassified Archaea (miscellaneous)           64

                                                                  GC%  \
Group                       SubGroup
Asgard group                Candidatus Wukongarchaeota             45
Candidatus Thermoplasmatota Thermoplasmata                         16
DPANN group                 Candidatus Aenigmarchaeota             15
                            Candidatus Diapherotrites              12
                            Candidatus Micrarchaeota               35
                            Candidatus Pacearchaeota               41
                            Candidatus Parvarchaeota               12
                            Candidatus Woesearchaeota              38
                            Nanoarchaeota                          16
Euryarchaeota               Archaeoglobi                           16
                            Diaforarchaea group                   395
                            Methanomada group                     123
                            Stenosarchaea group                   759
                            Thermococci                            74
                            unclassified Euryarchaeota            113
TACK group                  Candidatus Bathyarchaeota              42
                            Candidatus Marsarchaeota               15
                            Crenarchaeota                         163
                            Thaumarchaeota                        115
unclassified Archaea        unclassified Archaea (miscellaneous)   64

                                                                  Total_repeats  \
Group                       SubGroup
Asgard group                Candidatus Wukongarchaeota                       45
Candidatus Thermoplasmatota Thermoplasmata                                   16
DPANN group                 Candidatus Aenigmarchaeota                       15
                            Candidatus Diapherotrites                        12
                            Candidatus Micrarchaeota                         35
                            Candidatus Pacearchaeota                         41
                            Candidatus Parvarchaeota                         12
                            Candidatus Woesearchaeota                        38
                            Nanoarchaeota                                    16
Euryarchaeota               Archaeoglobi                                     16
                            Diaforarchaea group                             395
                            Methanomada group                               123
                            Stenosarchaea group                             759
                            Thermococci                                      74
                            unclassified Euryarchaeota                      113
TACK group                  Candidatus Bathyarchaeota                        42
                            Candidatus Marsarchaeota                         15
                            Crenarchaeota                                   163
                            Thaumarchaeota                                  115
unclassified Archaea        unclassified Archaea (miscellaneous)             64

                                                                  TotalRepBases  \
Group                       SubGroup
Asgard group                Candidatus Wukongarchaeota                       45
Candidatus Thermoplasmatota Thermoplasmata                                   16
DPANN group                 Candidatus Aenigmarchaeota                       15
                            Candidatus Diapherotrites                        12
                            Candidatus Micrarchaeota                         35
                            Candidatus Pacearchaeota                         41
                            Candidatus Parvarchaeota                         12
                            Candidatus Woesearchaeota                        38
                            Nanoarchaeota                                    16
Euryarchaeota               Archaeoglobi                                     16
                            Diaforarchaea group                             395
                            Methanomada group                               123
                            Stenosarchaea group                             759
                            Thermococci                                      74
                            unclassified Euryarchaeota                      113
TACK group                  Candidatus Bathyarchaeota                        42
                            Candidatus Marsarchaeota                         15
                            Crenarchaeota                                   163
                            Thaumarchaeota                                  115
unclassified Archaea        unclassified Archaea (miscellaneous)             64

                                                                  Assembly_level  \
Group                       SubGroup
Asgard group                Candidatus Wukongarchaeota                        45
Candidatus Thermoplasmatota Thermoplasmata                                    16
DPANN group                 Candidatus Aenigmarchaeota                        15
                            Candidatus Diapherotrites                         12
                            Candidatus Micrarchaeota                          35
                            Candidatus Pacearchaeota                          41
                            Candidatus Parvarchaeota                          12
                            Candidatus Woesearchaeota                         38
                            Nanoarchaeota                                     16
Euryarchaeota               Archaeoglobi                                      16
                            Diaforarchaea group                              395
                            Methanomada group                                123
                            Stenosarchaea group                              759
                            Thermococci                                       74
                            unclassified Euryarchaeota                       113
TACK group                  Candidatus Bathyarchaeota                         42
                            Candidatus Marsarchaeota                          15
                            Crenarchaeota                                    163
                            Thaumarchaeota                                   115
unclassified Archaea        unclassified Archaea (miscellaneous)              64

                                                                  Assembly_name  \
Group                       SubGroup
Asgard group                Candidatus Wukongarchaeota                       45
Candidatus Thermoplasmatota Thermoplasmata                                   16
DPANN group                 Candidatus Aenigmarchaeota                       15
                            Candidatus Diapherotrites                        12
                            Candidatus Micrarchaeota                         35
                            Candidatus Pacearchaeota                         41
                            Candidatus Parvarchaeota                         12
                            Candidatus Woesearchaeota                        38
                            Nanoarchaeota                                    16
Euryarchaeota               Archaeoglobi                                     16
                            Diaforarchaea group                             395
                            Methanomada group                               123
                            Stenosarchaea group                             759
                            Thermococci                                      74
                            unclassified Euryarchaeota                      113
TACK group                  Candidatus Bathyarchaeota                        42
                            Candidatus Marsarchaeota                         15
                            Crenarchaeota                                   163
                            Thaumarchaeota                                  115
unclassified Archaea        unclassified Archaea (miscellaneous)             64

                                                                  coded_Assembly
Group                       SubGroup
Asgard group                Candidatus Wukongarchaeota                        45
Candidatus Thermoplasmatota Thermoplasmata                                    16
DPANN group                 Candidatus Aenigmarchaeota                        15
                            Candidatus Diapherotrites                         12
                            Candidatus Micrarchaeota                          35
                            Candidatus Pacearchaeota                          41
                            Candidatus Parvarchaeota                          12
                            Candidatus Woesearchaeota                         38
                            Nanoarchaeota                                     16
Euryarchaeota               Archaeoglobi                                      16
                            Diaforarchaea group                              395
                            Methanomada group                                123
                            Stenosarchaea group                              759
                            Thermococci                                       74
                            unclassified Euryarchaeota                       113
TACK group                  Candidatus Bathyarchaeota                         42
                            Candidatus Marsarchaeota                          15
                            Crenarchaeota                                    163
                            Thaumarchaeota                                   115
unclassified Archaea        unclassified Archaea (miscellaneous)              64

In [559]:
# saving the file, writing to tsv.

final_df.to_csv("/home/ccmb/Desktop/SSRs_Prokaryotes_Analysis/Jupyter_Notebook/Descriptive_stats/Archeae_Dataset.tsv", sep = "\t")

In [560]:
# saving the file, writing to tsv.

f = pd.read_csv("/home/ccmb/Desktop/SSRs_Prokaryotes_Analysis/Jupyter_Notebook/Descriptive_stats/Archeae_Dataset.tsv", sep = "\t")
f

,Unnamed: 0,file_name,Kingdom,Group,SubGroup,Organism_name,Genome_size,GC%,Total_repeats,TotalRepBases,Assembly_level,Assembly_name,coded_Assembly
0,0,GCF_002287175.1_ASM228717v1,Archaea,Euryarchaeota,Methanomada group,Methanobacterium bryantii,3466370.0,33.19,2860.0,35950.0,Contig,ASM228717v1,1.0
1,1,GCF_001458655.1_Mb9,Archaea,Euryarchaeota,Methanomada group,Methanobacterium formicicum,2494510.0,41.14,1710.0,21513.0,Complete Genome,Mb9,4.0
2,2,GCF_002813085.1_ASM281308v1,Archaea,Euryarchaeota,Methanomada group,Methanobrevibacter smithii,1805545.0,31.15,1687.0,21231.0,Complete Genome,ASM281308v1,4.0
3,3,GCF_001889405.1_ASM188940v1,Archaea,Euryarchaeota,Stenosarchaea group,Methanohalophilus halophilus,2022959.0,42.40,1060.0,13231.0,Complete Genome,ASM188940v1,4.0
4,4,GCF_017875395.1_ASM1787539v1,Archaea,Euryarchaeota,Methanomada group,Methanococcus voltae,1899827.0,29.02,2549.0,34277.0,Contig,ASM1787539v1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105,37935,MSDBG015686,Archaea,DPANN group,Candidatus Woesearchaeota,Candidatus Woesearchaeota archaeon CG08_land_8...,1216694.0,46.74,741.0,9278.0,Scaffold,ASM276333v1,2.0
2106,37953,MSDBG021474,Archaea,Euryarchaeota,Diaforarchaea group,Marine group II euryarchaeote REDSEA-S37_B2N9,1207303.0,50.48,592.0,7426.0,Contig,ASM162918v2,1.0
2107,37981,MSDBG010896,Archaea,Euryarchaeota,Archaeoglobi,Archaeoglobales archaeon,2609224.0,38.41,1666.0,20900.0,Contig,ASM366299v1,1.0
2108,38064,MSDBG014719,Archaea,DPANN group,Candidatus Pacearchaeota,Candidatus Pacearchaeota archaeon CG10_big_fil...,850778.0,34.72,801.0,10179.0,Scaffold,ASM276303v1,2.0
2109,38076,MSDBG021456,Archaea,Euryarchaeota,Diaforarchaea group,Marine Group II euryarchaeote SCGC AB-629-J06,534847.0,34.12,496.0,6424.0,Contig,ASM37604v1,1.0

In [ ]:
# few tasks left over

# change the file name in msdb folder for perf_new_archaea_ files.

# Add those 4 stenosarchaea group species to analysis.

# Same species with version change, can we consider them as same or different.

# Add this Archaea to Eukaryotes.

In [1]:
#*

# lets add the density values for "Genome size", "Repeat sequences bases", "Num of repeat sequences"


import pandas as pd

df = pd.read_csv("/home/ccmb/Desktop/SSRs_Prokaryotes_Analysis/Jupyter_Notebook/Descriptive_stats/Archeae_Dataset.tsv", sep = "\t")

,Unnamed: 0,file_name,Kingdom,Group,SubGroup,Organism_name,Genome_size,GC%,Total_repeats,TotalRepBases,Assembly_level,Assembly_name,coded_Assembly
0,0,GCF_002287175.1_ASM228717v1,Archaea,Euryarchaeota,Methanomada group,Methanobacterium bryantii,3466370.0,33.19,2860.0,35950.0,Contig,ASM228717v1,1.0
1,1,GCF_001458655.1_Mb9,Archaea,Euryarchaeota,Methanomada group,Methanobacterium formicicum,2494510.0,41.14,1710.0,21513.0,Complete Genome,Mb9,4.0
2,2,GCF_002813085.1_ASM281308v1,Archaea,Euryarchaeota,Methanomada group,Methanobrevibacter smithii,1805545.0,31.15,1687.0,21231.0,Complete Genome,ASM281308v1,4.0
3,3,GCF_001889405.1_ASM188940v1,Archaea,Euryarchaeota,Stenosarchaea group,Methanohalophilus halophilus,2022959.0,42.40,1060.0,13231.0,Complete Genome,ASM188940v1,4.0
4,4,GCF_017875395.1_ASM1787539v1,Archaea,Euryarchaeota,Methanomada group,Methanococcus voltae,1899827.0,29.02,2549.0,34277.0,Contig,ASM1787539v1,1.0

In [3]:
df['Genome_size(mb)'] = df['Genome_size'].div(1000000)
df['Total_repeats(mb)'] = df['Total_repeats']/df['Genome_size']*1000
df['TotalRepBases(mb)'] = df['TotalRepBases']/df['Genome_size']*1000

In [17]:
df.to_csv("/home/ccmb/Desktop/SSRs_Prokaryotes_Analysis/Jupyter_Notebook/Descriptive_stats/Archeae_Datasetv1.tsv", sep = "\t")

In [19]:
df = pd.read_csv("/home/ccmb/Desktop/SSRs_Prokaryotes_Analysis/Jupyter_Notebook/Descriptive_stats/Archeae_Datasetv1.tsv", sep = "\t")
df.head()

,Unnamed: 0,Unnamed: 0.1,file_name,Kingdom,Group,SubGroup,Organism_name,Genome_size,GC%,Total_repeats,TotalRepBases,Assembly_level,Assembly_name,coded_Assembly,Genome_size(mb),Total_repeats(mb),TotalRepBases(mb)
0,0,0,GCF_002287175.1_ASM228717v1,Archaea,Euryarchaeota,Methanomada group,Methanobacterium bryantii,3466370.0,33.19,2860.0,35950.0,Contig,ASM228717v1,1.0,3.466370,0.825071,10.371080
1,1,1,GCF_001458655.1_Mb9,Archaea,Euryarchaeota,Methanomada group,Methanobacterium formicicum,2494510.0,41.14,1710.0,21513.0,Complete Genome,Mb9,4.0,2.494510,0.685505,8.624139
2,2,2,GCF_002813085.1_ASM281308v1,Archaea,Euryarchaeota,Methanomada group,Methanobrevibacter smithii,1805545.0,31.15,1687.0,21231.0,Complete Genome,ASM281308v1,4.0,1.805545,0.934344,11.758776
3,3,3,GCF_001889405.1_ASM188940v1,Archaea,Euryarchaeota,Stenosarchaea group,Methanohalophilus halophilus,2022959.0,42.40,1060.0,13231.0,Complete Genome,ASM188940v1,4.0,2.022959,0.523985,6.540419
4,4,4,GCF_017875395.1_ASM1787539v1,Archaea,Euryarchaeota,Methanomada group,Methanococcus voltae,1899827.0,29.02,2549.0,34277.0,Contig,ASM1787539v1,1.0,1.899827,1.341701,18.042169